.mouse-glow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the color and opacity as needed */
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.5); /* Adjust the shadow color and intensity as needed */
    pointer-events: none;
    z-index: 2; /* Make sure the glow is above other elements */
    transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out, box-shadow 0.2s ease-out;
  }
  